/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Dancing+Script:wght@700&family=Fuzzy+Bubbles&family=Poppins&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --sideBGColor: #040b14;
    --themeColor: #00A78E;
    --iconBGColor: #2C2F3F;
    --textColor: #525252;
    --bgColor: #7F7F7F;
}

header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}

header .profile{
    text-align: center;
    margin: 10px 0;
}

header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGColor);
}

header .profile h1{
    color: white;
    font-weight: 600;
}

header .profile .social-icon a{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 37px;
    background-color: var(--iconBGColor);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
    border-radius: 50%;
}

header .profile .social-icon a:hover{
    background-color: var(--themeColor);
}

header nav {
    margin-top: 30px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover i{
    color: var(--themeColor);
}

header nav ul li .active i{
    color: var(--themeColor);
}

header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: lightgray;
    font-size: 14px ;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4;
}

header .footer p a{
    color: var(--themeColor);
}

main{
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;
}

#home{
    height: 100vh;
    width: 100%;
    background-image: url(Image/bgprofile.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
}

#home::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.431);
    position: absolute;
    top: 0;
    left: 0;
}

#home .home-row{
    z-index: 1;
}

#home .home-row h1{
    font-size: 60px;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}

#home .home-row h1 span{
    color: var(--themeColor);
}

#home .home-row p{
    color: whitesmoke;
    font-size: 30px;
}

#home .home-row p span{
    border-bottom:4px solid var(--themeColor) ;
}